<% if logged_in? %>
  <h1>User Groups</h1>
  <p><%=link_to 'New Top Level Group', new_group_path, class: "btn btn-primary", data: { qa_selector: 'new_top_level_group_link' } %></p>
  <% if @groups.any? %>
    <%= render 'shared/groups', groups: @groups %>
  <% end %>
<% else %>
  <div class="center jumbotron">

    <h1>Welcome to GitLab Junior</h1>

    <h2>
      This is the home page for the shiny new GitLab Junior
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary", data: { qa_selector: 'sign_up_link' } %>

  </div>
<% end %>

<%= link_to image_tag("gitlab-logo-500.svg", alt: "GitLab logo", width: "100"),
  "https://www.gitlab.com/" %>
