<% provide(:title, 'Create a Group') %>
<h1>Create a Group</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form', button_name: 'Create', group: @new_group %>
  </div>
</div>
