<% provide(:title, 'Group') %>

<ol class="breadcrumb">
  <%= @group.breadcrumb %>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @group.name %></h3>
  </div>
  <div class="panel-body">
    <%= @group.description %>
  </div>
</div>

<% if current_user?(@group.owner) %>
  <p><%=link_to 'New Subgroup', new_group_subgroup_path(@group), class: "btn btn-primary" %></p>
<% end %>

<% if @sub_groups.any? %>
  <h1><small>Sub Groups</small></h1>
  <%= render 'shared/groups', groups: @sub_groups.all %>
<% else %>
  <div><h2>This group does not have any subgroups</h2></div>
<% end %>
