<%= form_with(model: @user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control', data: { qa_selector: 'name_field' } %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control', data: { qa_selector: 'email_field' }  %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control', data: { qa_selector: 'password_field' }  %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control', data: { qa_selector: 'password_confirmation_field' }  %>

  <%= f.submit 'Sign Up', class: "btn btn-primary", data: { qa_selector: 'sign_up_button' }  %>
<% end %>
